.card {
  border-color: black;
  margin: 0 8px 8px 0;
  width: 20rem;
  background: white;
}

.card-img-top {
  border-bottom: 1px solid black;
}

.btn-language {
  background: #d6764a;
  color: white;
}

.btn-language:hover {
  background: #d6764a;
  color: white;
}
