.card {
  border-color: black;
}

.card-img-top {
  border-bottom: 1px solid;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  width: 100%;
}

.btn-language {
  background: #d6764a;
  color: white;
}

.btn-language:hover {
  background: #d6764a;
  color: white;
}
